/*
  Common styles and overrides. Will be exported with the zip file download.
*/

/* Make fonts behave on Macs */
* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* Make Icons look better */
[class^="icon-"]::before, [class*=" icon-"]::before {
  vertical-align: baseline;
  line-height: 1em;
  color: inherit;
}
i.icon{
  text-align: center;
  background-image: none;
}

/* Centering elements */
body .pull-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.bga
{background-color:#FF7533;
color:#FFFFFF;
text-align:center;
}
.pga
{background-color:
#00FF00;
color:#FFFFFF;
text-align:center;
}
.pgas
{background-color:
#C800FF;
color:#FFFFFF;
text-align:center;
}
.pga h4{
color:#FFFFFF;
}
.pgas h4{
color:#FFFFFF;
}