 body {
   padding-left: 0;
   padding-right: 0;
 }
 .container-fluid {
   width: 1100px;
   height: 880px;
   margin:auto;
 }
 .container-fluid .row-fluid .span12 .well.well-1 {
   margin: 10px 0px 10px 0px;
   height: 162px;
   width: 900px;
 }
 .container-fluid .row-fluid .span12 .well.well-1 .image {
   width: 149px;
   height: 82px;
 }
 .container-fluid .row-fluid .span12 .well.well-1 .row-fluid .span8 .heading {
   text-align: center;
   color: #083d71;
 }
 .container-fluid .row-fluid .span12 .well.well-1 .row-fluid .span12 input.textinput.textinput-1 {
   margin: 5px 0px 10px 5px;
 }
 .container-fluid .row-fluid .span12 .well.well-1 .row-fluid .span12 .heading.heading-1 {
   margin: 5px 0px 5px 0px;
 }
 .container-fluid .row-fluid .span12 .well.well-1 .row-fluid .span12 input.textinput.textinput-2 {
   margin: 10px 0px 10px 1px;
 }
 .container-fluid .row-fluid .span12 .well.well-2 {
   background: #024794;
   padding: 5px;
   margin: 0px 0px 10px 0px;
   height: 30px;
   width: 925px;
 }
 .container-fluid .row-fluid .span12 .well.well-2 .heading {
   color: #fcf6f6;
 }
 .container-fluid .row-fluid .span12 .well.well-2 .heading.heading-2 {
   margin: 1px 0px 1px 0px;
 }
 .container-fluid .row-fluid .span12 .well.well-2 input.textinput {
   margin: 0px 0px 10px 5px;
 }
 .container-fluid .row-fluid .span12 .well.well-2 .heading.heading-3 {
   margin: 5px 0px 1px 0px;
 }
 .container-fluid .well.well-3 {
   padding: 5px;
 }
 .container-fluid .well.well-4 {
   margin: 0px;
   height: 286px;
   width: 928px;
 }
 .container-fluid .well.well-3.well-4 .row-fluid .span6 .heading.heading-4 {
   color: #035cb5;
 }
 .container-fluid .well.well-3.well-4 .row-fluid .span6 select.select-1 {
   margin: 5px 0px 10px 0px;
 }
 .container-fluid .well.well-3.well-4 .row-fluid .span6 select.select-2 {
   margin: 5px 0px 0px 5px;
   width: 352px;
 }
 .container-fluid .well.well-3.well-4 .row-fluid .span6 select.select-3 {
   margin: 5px 0px 10px 5px;
   width: 276px;
 }
 .container-fluid .well.well-3.well-4 .row-fluid .span6 input.textinput.textinput-3 {
   padding: 4px 0px 4px 0px;
 }
 .container-fluid .well.well-3.well-4 .row-fluid .span6 input.textinput.textinput-4 {
   margin: 5px 0px 10px 5px;
 }
 .container-fluid .well.well-3.well-4 .row-fluid .span6 input.textinput.textinput-5 {
   margin: 5px 0px 10px 0px;
 }
 .container-fluid .well.well-3.well-4 .row-fluid .span6 .select-1.select-4 {
   width: 134px;
 }
 .container-fluid .well.well-3.well-4 .row-fluid .span6 .select-1.select-5 {
   width: 234px;
 }
 .container-fluid .well.well-3.well-4 .row-fluid .span6 input.textinput-4.textinput-6 {
   width: 304px;
 }
 .container-fluid .well.well-3.well-4 .row-fluid .span12 .heading {
   color: #035cb5;
 }
 .container-fluid .well.well-3.well-4 .row-fluid .span12 input.textinput {
   margin: 5px 0px 10px 5px;
 }
 .vell-1{
 background-color:#3333FF;
 }
 .vell-1 .heading-3{
 color:#fff;
 text-align:center;
 }

.total_cargo{
color:grey;
}

.custom_span1{
width: 10.2%!important;
}

.custom_span2{
width: 15.2%!important;
}

.custom_span3{
width: 17.2%!important;
}