.heads_box legend {
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #176CB3;
  color: white;
  background-color: #176CB3;
  text-align: center;
  min-height: 30px;
  font-size: 18px;
  font-weight: bolder; 
}

.font_broker{
  font-weight: 100;
  font-size: 12px;
  padding: 0px 15px;
  text-align: left;
  line-height: 35px;
}
.font_broker_2{
  line-height: 0px;
  color: black;
  font-weight: 100;
  font-size: 12px; 
  text-align: left;
  padding: 2px 15px;
}
.font_broker_1{
  line-height: 0px;
  
  font-weight: 100;
  font-size: 12px; 
  text-align: right;
  padding: 2px 0px;
}
.font_broker_3{
 line-height: 0px;
  color: black;
  font-weight: 100;
  font-size: 12px; 
  text-align: right;
  padding: 2px 0px;
}
.green{
color:green;
font-size:40px;
cursor: pointer;
}
.red{
color:red;
font-size:40px;
cursor: pointer;
}
.submitting_business{
	
  text-align: center;
  font-weight: bolder;
  color: black;
  margin-top: 15px;
}
select#losses_need {
  margin-left: 10px;
}
.top20{
margin-top:20px;
}
.width_input{
  width: 130%!important;
}
.top40{
margin-top:40px;
}
.add{
background-image:url('../images/add.png');
background-repeat:no-repeat;
  width: 35%!important;
}
.delete {
background-image:url('../images/remove.png');
background-repeat:no-repeat;
  width: 35%!important;
}
.tables td {
	padding-right: 4px;
  width: 13%;
}
.insured_info_boxs legend{
  border-top: 1px solid rgb(0,128,0);
  border-bottom: 1px solid rgb(0,128,0);
  color: white;
  background-color: rgb(0,128,0);
  text-align: center;
  min-height: 30px;
  font-size: 18px;
  font-weight: bold;
  float: left;
	}
	
	.row-fluid.less_top {
  margin-top: -40px;
}

.address_height {
  height: 75px!important;
}

.heading_vehicles{
  margin-top: -20px;
  float: left;
  background: white;
  margin-left: 20px;
  padding: 1px 10px 1px 10px;
 }
 .heading_border{
	   border-top: 4px solid #176CB3;
	 }
	
 .heading_border_t{
	   border-top: 4px solid #377814;
	 }
  .heading_border_tr{
   border-top: 4px solid #000;
  }
	 
.span6.divided_broker {
  border-right: 30px solid #03b2e3;
  padding-left: 5px;
  padding-right: 5px;
  min-height: 550px;
}

  
.head_box legend{
	
	  border-right: 10px solid #03b2e3;
	  font-size: 18px!important;
	}
.span6.divided_person {
   border-left: 30px solid rgb(0,128,0);
  padding-left: 5px;
  padding-right: 5px;
   min-height: 550px;
  margin-left: 0px;
}
.insured_info_boxs legend{
	
  border-right: 30px solid rgb(0,128,0);
  border-left: 10px solid rgb(0,128,0);
  margin-left: -5px;
	}
	.width105{
	  width:105%;
	  }
	 table.tables_ins td {
         padding-right: 8px;
		   width: 10%;
        }
		.img img{
  height: 40px!important;
    margin-top: -15px;
}
.schedule_of_drivers_boxs {
  color: #1F1AEC;
}
.schedule_of_drivers_boxs legend{
	
  border-top: 1px solid #1F1AEC;
  border-bottom: 1px solid #1F1AEC;
  color: white;
  background-color: #1F1AEC;
  text-align: center;
  min-height: 41px;
  font-size: 18px;
  font-weight: bold;
	
	}
	.insured_info_boxs {
		color:rgb(0,128,0);
		}
	.insured_info_box{
		color:#377814;
		  margin-top: 1%;
		}
		.insured_info_box legend {
          background-color: #377814;
		}
    .coverage_info_box{
		 
		 color:rgb(0,0,128);
		 }
	.filing_table {
    width: 25%!important;
	}
	#filing_table thead tr td:last-child,#filing_table th:last-child{
	  width: 60%;
	}
	#add_filing_row a{
		float:right;
		}
   .well{
     background-color:white!important;
	}
	.coverage_info_box > legend {
 
     background-color: rgb(0,0,128);
	}
	table.tables_ins {
        width: 100%;
     }
   .right_section{
		   float: right;
           width: 19%;           
		   padding: 0px 10px 0px 10px; 
		 }
    .left_section{
		 float: left;
         width: 78%;
 		 border-right: 3px solid;
 		 min-height: 60px;
 		 padding: 0px 10px 10px 0px;
		 }
	.span_1{
		width:1%!important;		
		}
		.numbers {
        font-size: 11px!important;
      }

    .border_equp{
		  border-top: 2px solid;
          border-bottom: 2px solid;
          padding-top: 10px;
		}
		.table {
         max-width: 96%!important;
       }
     .numbers_child{
    	font-size:11px;
	  }
	.span_7dot6{
		  width: 7.6%!important;
		}
    .liability_color {
      color: rgb(0, 0, 128);
     }
	 .pd_color {
        color: rgb(128, 0, 0);
       }
	 .cargo_color{
		   color: rgb(0,100,0); 
		   }
     .black{
		  color: black;   
	      }
		  
     button#liability_close {
       background-color: #F22020;
     }
	 
	 button#pd_close {
       background-color: #F22020;
     }
	 
	 button#cargo_close {
       background-color: #F22020;
     }
	 
	 table#_table {
      width: 55%!important;
      }
	  table.tables_inss {
       width: 50%;
      }
      select#nature_of_business {
        width: 100%!important;
      }

	.nature_bus {
	  width: 130%!important;
	}

	div#data_table {
	margin: 20px;
	}
	body{
	  font-size:12px!important;
	  
	}
	img#loader{
		position: absolute;
        margin: 20% 46%;
		}
	img#loading{
		/* position: absolute;
		 top: 50%;
		 left: 50%;
		 width: 500px;
		 height: 500px;
		 margin-top: -250px; /* Half the height 
		 margin-left: -250px; /* Half the width */
		}	
	.span_5{
		width:5%!important;
	   }
    .span_4{
	   width:4%!important;
	   }
   div#commodities_haulted_chzn {
	width: 235px!important;
   }
   .span_19{
	width: 19%;  
	}
	span.request_css {
	color: black;
	font-weight: bold;	
	float: left;
    }
	span.version_css {
	float: right;
	color: black;
	font-weight: bold;
	margin-top: -20px;
   }
   
 span.characters_css_l {
  float: left;
  color: black;
  font-size: 13px;
  line-height: 18px;
  margin: 5px 0px 0px 15px;
  font-weight: 100;
  width:22%;
  text-align: -webkit-auto;
}
  span.characters_css_r {
  float: right;
  color: black;
  font-size: 13px;
  line-height: 18px;
  margin: 5px 50px 0px 0px;
  font-weight: 100;
  width:18%;
  text-align: -webkit-auto;
}
 .icon_show{
	  margin-top: -48px;
 }
.span_15{
	width:15%!important;
	}
.top45{
  margin-top: 45px!important; 
   }
.top25{
   margin-top: 25px!important; 
   }
.icon_show_b {
  margin-top: -17px;
}
.img img_1{
  height: 40px!important;
}
.icon_show_c{
	margin-top: 21px;
	}
.icon_show_ce{
  margin-top: -60px;
}

.top-10{
    margin-top:-10px!important;	
	}
	.span_20{
		width:20%!important;
}
th{
  width: 10%;
}
.span_12{	
	  width: 12%!important;
	  }
#nature_of_business_chzn.chzn-container-multi .chzn-choices li.search-choice{
 /* width: 27%!important;*/
  text-overflow: ellipsis!important;
  white-space: nowrap!important;
  overflow: hidden!important;
	
	}
div#msdrpdd20_msdd {
  width: 100%!important;
}
.icon_show_m {
  margin-top: -5px;
  margin-right: 50px;
}
.margin_6{
	margin-left: -6%;
}
.input_15{
	  width: 15%!important;
	}
.insured_info_box legend {
  min-height: 45px!important;
  font-size: 18px!important;
  line-height: 45px!important;
 
}
.coverage_info_box > legend{
  min-height: 45px!important;
  font-size: 18px!important;
  line-height: 45px!important;
	
	}
.loses_information_box legend{	
	font-size: 18px!important;
	}
.schedule_of_drivers_box legend{
	font-size: 18px!important;
	}
	
.icon_show_l {
  margin-top: -4px;
}
.span_50{
	  width: 50%!important;
	}
.span_9{
	  width: 9%!important;
	}
	#arrow_1{
	  float: right;
      margin-top: -227px;
      margin-right: -36px;	
	  cursor: pointer;
	  width: 6%;
	}
	#arrow_2{
	float: right;
	margin-top: -227px;
	margin-right: -38px;
	cursor: pointer;
	width: 3%;
  	}
	#arrows_1{
	  float: left;
      margin-top: -227px;
      margin-left: -36px;	
	  cursor: pointer;
	  width: 6%;
	}
	#arrows_2{
	float: left;
	margin-top: -227px;
	margin-left: -38px;
	cursor: pointer;
	width: 3.3%;
  	}
	#arrow_3{
	float: right;
    margin-top: 16px;
    margin-right: -38px;
    cursor: pointer;
    width: 100%;
  	}
	#arrows_3{
	float: right;
    margin-top: 90px;
    margin-right: 38px;
    cursor: pointer;
    width: 96%;
  	}
	.span_3{
	 width:3%!important;	
	}
	.span_6{
	 width:6%!important;	
	}
	.span_5{
	 width:5%!important;	
	}
	#coverage_chzn,#vh_type_chzn{
		min-width:160px;
		
		}
	div#commodities_haulteds_chzn { width: 100% !important;}