@charset "utf-8";

.pdf_css{
margin-top: 0px!important;
margin-bottom: 5px!important;
margin-left: 0px!important;
color: #002!important;
padding: 0px 5px 0px 5px!important;
display: inline-block!important;
word-wrap: break-word;
min-height: 20px;
min-width: 35px!important;
font-size: 14px;
float: none!important;
}
.ng-scope {
margin-bottom: 10px;
}
input#broker_phone_2_ {
width: auto;
}
.accounting_span {
width: 33%!important;
}
.Overall_design {

/*margin-right: 27px!important;
margin-left: 27px!important;*/
margin: 0px!important;

}
.span1.span1_7 {
width: 10%!important;
margin-left: -10px;

}

.span2_18.span2.lightblue {
width: 21%!important;
}
.span2.span2_9 {
width: 10%!important;
margin-left: -6px!important;
}
.container-fluid{
	padding:10px!important;
	
	}
.span2.lightblue.left5 {
width: 9%;
}
.span2.span2_22.lightblue {
width: 24%!important;
margin: 0px;
}
.well{
	
	padding:0px!important;
	}
	.license {
width: 20%!important;
}

.span4.span4_fax.margin_none {
width: 30%!important;
}
.span2.span2_10.span_2_web {
width: 10%!important;
}
.span2.span2_10 {
width: 15%!important;

}
.span2.span2_17
{
width: 18%!important;

}

.span5.margin_none.margin_account {
width: 42%!important;
}

.span4.span4_35 {
width: 39%!important;
margin-left: -20px!important;

}

.span4.margin_none.span4_35 {
width: 38%!important;
margin-left: -2px!important;
}

.span2.custom_span1_5.margin_none.margin_license {
width: 17%!important;
}

.span3.custom_span1_5.margin_none {
width: 17%!important;
}

.addes{
	width: 30%!important;
	}
	span.pdf_css.span4_name.set_margin.ng-pristine.ng-invalid.ng-invalid-required {
width: 33%!important;
}
p.p11.ft1 {
margin-left: 10px!important;
float: left!important;
margin-top: 4px!important;
padding: 0px!important;
}

fieldset#agency_fieldset_am {
width: 99%!important;
}
span.pdf_css.span2.ng-pristine.ng-invalid.ng-invalid-required {

}
.dropdown_width {
width: 34px!important;
min-height: 19px!important;
}
.readonly{
    cursor: not-allowed;
    background-color: #f5f5f5!important;
}
#broker_phone_4_, #accounting_phone_4_, #eo_broker_phone_4_, #agreement4_broker_phone_4_{
    position: absolute;
width: 41px!important;   
}
#broker_fax_3_,{
    position: absolute;
}
.span2_12{
    width: 9%!important;
}
#agreement4_ga_name, #agreement4_ga_name_middle, #agreement4_ga_name_last, #agreement4_cont_person, #agreement4_cont_person_middle, #agreement4_cont_person_last, #agreement4_brokername, #agreement4_brokername_middle, #agreement4_brokername_last, #agreement3_brokername, #agreement3_brokername_middle, #agreement3_brokername_last, #agreement5_brokername1, #agreement5_brokername1_middle, #agreement5_brokername1_last, span[name="agreement7_name"], span[name="agreement7_name_middle"], span[name="agreement7_name_last"], span[name="agreement7_other_input"], span[name="agreement7_limited_company"], span[name="agreement7_ssn1"], span[name="agreement7_ssn2"], span[name="agreement7_ssn3"], span[name="agreement7_emp_id2"], span[name="agreement7_emp_id1"], span[name="agreement7_signed"], span[name="agreement7_dated"], #agreement2_brokername, #agreement2_brokername_middle, #agreement2_brokername_last {
    float: none!important;
}
#accounting_lastname{
    width: 35%!important;
}

.span5 {
width: 25%!important;
margin: 0px!important;
}

.span2.span2_12.left10 {
width: 21%!important;
}

.custom_span2_5{
width: 14%!important;
}
.custom_span1_5{
width: 14%!important;
}

.width_license{

width: 10%!important;

}
.margin_license{
margin-right: 0px!important;
}

.span4.lightblue {
width: 22%!important;
}

.span2.lightblue.margin_none {

width: 11%!important;

}


.span1.span1_8.margin_none {
width: 18%!important;
}

.span4.lightblue.accounting_span {
width: 33%!important;
}

span#Val0Value {
width: 25%!important;
}

span#Val2Value {
width: 50%!important;
}
.flag_wrape{
    padding: 0px 50px 0px 0px;
    margin-bottom: 12px;
}
.span2 {

}
.span5.margin_none.span_faxack {

margin-left: -60px!important;
width: 42%!important;
}
.span2_12 {
width: 12%!important;
margin-left: -2px!important;
}
.span1 {
margin: 0px!important;
}
.well {  
  padding: 0px 8px 0px 8px!important;
}
.table_css_w{
	  width: 100%!important;
	}
	body#top {
  margin-top: -65px!important;
}
.row-fluid.img {
  margin-top: 35px;
}
span.divider {
    display: none;
}
span.ddArrow.arrowoff {
    display: none;
}
.dd {
    border:none;	
	}
.dd .ddTitle{
	background:none;
	}
.shadow{
	display:none!important;
	}
	#coverages_req_chzn{
		display:none!important;
		}