
* {
	margin:0;
	padding:0;
	font-family:Arial;
	font-size:10pt;
	color:#000;
}
.clearfix {
	clear:both;	
}
body{
	width:100%;
	font-family:Arial;
	font-size:10pt;
	margin:0;
	padding:0;
}
 
p, h1 h2 h3 h4{
	margin:0;
	padding:0;
}

h1 {
	font-size:27px;	
}
h2 {
	font-size:15px;	
}

#wrapper {
    margin: 20px auto 0;
    padding: 20px;
    width: 780px;
	display:table;
}
.left_area, .right_area{
	width:100px;	
}
.left_area{
	float:left;	
}

.middle_area {
    float:left;
    margin-left: 140px;
    width: 300px;
}
.right_area{
	float:right;	
}
.table {
	border-collapse: collapse;	
}
table td{
	cell-padding:"0";
    cell-spacing:"0";
	margin:0;
    border:none;
}
 
.row_table label{
	margin-left:20px;
}
.total {
	border:2px solid #000;
	border-top:0;
	text-align:center;
}
.total label{
	margin-right:50px;
}

.col_fluid {
    width: 150px;
	float:left;
	margin-right:10px;
}

.sng_check {
    clear: both;
    float: left;
    margin-bottom: 5px;
	font-size:11px;
	width: 200%;
}
input.ui-state-error {
border-color: #e9322d;
-webkit-box-shadow: 0 0 6px #f8b9b7;
-moz-box-shadow: 0 0 6px #f8b9b7;
box-shadow: 0 0 6px #f8b9b7;
}
.sheet-header{
cursor: pointer;
}
