/*			STYLESHEET FOR SHALEEXPERTS.COM    */
/*			Designed by Nick Escobedo 				*/
			
/*			FUTUREBUTTERFLIES , Copyright 2012		*/
		


body {
	color: #333;
	font-family: 'Open Sans', Helvetica, Arial,sans-serif;
	font-size:14px;
	line-height:24px;
	margin:0;
	padding:0;
	}


a:link	{
	color: #dc8b05;
	text-decoration: none;
	}

a:visited {
	color: #dc8b05;
	text-decoration: none;
	} 

a:hover	{
	color: #ee9606;
	text-decoration: none;
	} 
	
	
.clear { clear:both}


h2 {
	font-family:'Oswald', sans-serif;
	font-weight:400;
	text-transform:uppercase;
	margin:0 0 25px 0;
	padding:0 0 15px 0;
	}
	
h3 { 
	font-weight:500;
	font-size:22px; 
	line-height:24px;
	xfont-weight:normal;
	margin:0;
	padding:0;
	color:#666;
	}	
	
h5 { margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:16px; font-weight:bold;}


/* 			_______________________________	         */
/*			LAYOUT                                   */
.wrapper { width:960px; padding:0 15px; margin:0 auto;}	

#content { background-color:#f6f7fa;}
#content .wrapper { padding-bottom:90px; padding-top:15px;}

#Main  {float:left; width:600px;}

#Sidebar{
	float:right;
	margin-left:25px;
	width:300px;
	padding:0;
	background-color:#efefef;
}





header { margin:0; padding:0; background: #0d547c; background-image:url(../images/header_BG.jpg); background-position:0 0; background-repeat:repeat-x;}	
header .wrapper	{	
	height:110px; background-image:url(../images/header_wrapBG.jpg); background-position:0 0; background-repeat:no-repeat; width:1010;
	}
	
#Logo { padding-left:20px; padding-top:15px; float:left;}
#Logo h1 { color:#fff; font-weight:700; font-style:normal; font-size:40px; line-height:40px; margin:0; padding:0;}	
#Logo h1 a { color:#fff; text-decoration:none;}	
#Logo h1 a:hover { text-decoration:none;}

#Search_Header { display:none;}

header .wrapper nav.main .wrapper	 { background-color:#284356;}
nav.plays { background-color:#172f3d;}




/* 			________________________________	*/
/* 			FOOTER ELEMENTS	 				*/
	
	
footer	{
	padding: 30px 0 85px 0;
	color:#777368;
	min-height:520px;
	clear:both;
	xbackground-image:url(../images/footer_BG.jpg);
	background-position:top;
	background-repeat:repeat-x;
	background-color:#233a49;
	}	

footer .wrapper { padding:15px;}

footer a:link	{
	color: #e09217;
	text-decoration: none;
	}

footer a:visited {
	color: #e09217;
	text-decoration: none;
	} 
	
footer a:active {
	color: #e09217;
	text-decoration: none;
	} 
	
footer a:hover	{
	color: #fc9b02; 
	} 	

.fcol1 { width:250px; margin-right:50px; float:left; margin-left:30px;}

.fcol2, .fcol3, .fcol4 { width:175px; float:left; margin:30px 0 0 31px;}

footer h2 { font-size:16px; color:#b1b1b1; margin:0 0 24px 0; padding:0;}

footer ul { margin:0; padding:0 0 5px 0;}
footer li { 
	font-size:13px;
	font-weight:400;
	line-height:13px;
	margin:0;
	padding:0;
	list-style:none;
	}
	
footer ul li a {
	border-bottom:1px dotted #474747;
	margin:0;
	padding:10px 0;
	display:block;
	}
footer ul li a:hover { color:#CCC; border-bottom:dotted 1px #0e5063;}	
				
.copyright {font-size:11px; line-height:20px; margin-top:20px;}
.social_ico { margin-right:10px;}






/* 			________________________________	*/
/* 			CLASS SELECTORS 				*/

.left {
	margin: 0px 24px 10px 0px;
	float: left;
	}
.right {
	margin: 0px 0px 10px 24px;
	float: right;
	}	
	




/* 	FORM ELEMENTS	*/

label { font-size: 14px; }

input, textarea {
	font-size: 12px;
	line-height: 20px;
	outline: none;
	background-color: #f9f9f9;
	border: 1px solid #b2b2b2;
	padding: 3px 12px;
	border-radius: 3px;
	width:200px;	
	}

input { margin-bottom: 8px; color: #4A4A4A; }
	
textarea { height: 140px; margin-bottom: 15px; color: #000; }
	
input:focus, textarea:focus { border: 1px solid ##FFC66D; background-color:#fff;  -moz-box-shadow: 0 0 2px 2px #e3e3e3; -webkit-box-shadow: 0 0 2px 2px #e3e3e3;
box-shadow: 0 0 2px 2px #e3e3e3;}

.adform { font-size:11px; text-transform:uppercase;}


input#submit {
	clear: both;
	cursor: pointer;
	width: 150px;
	padding: 7px 7px;
	background-color: #333;
	border: 0;
	color: #F39F1A;
	font-family:'Oswald';
	font-size:16px;
	font-weight:700;
	text-transform:uppercase;
	}
input#submit:hover {color:#fff; background-color:#000; }	
input#submit:focus { background-color:#972324;}	




.section_banner {background-color:#3B799A;  margin:0 0 10px 0; padding:6px 20px; background-image: url(../images/banner_rt.png); background-position:right; background-repeat:no-repeat;}
.section_banner h2.banner_left {font-size:15px; float:left; color:#fff; padding:0; margin:0 }
.section_banner .banner_right { float:right; margin-right:15px; font-size:13px; font-weight:400; color:#F39F1A; font-family:'Open Sans'}

h2.bannerx { background-color:#dce4e8; margin:0 0 10px 0; padding:3px 10px; font-size:14px; line-height:15px; color:#3b799a; background-image: url(../images/banner_rt.png); background-position:right; background-repeat:no-repeat; text-transform:none;}

h2.banner { background-color:#3b799a; margin:0 0 10px 0; padding:4px 10px; font-size:14px; line-height:15px; color:#efefef; background-image: url(../images/banner_rt.png); background-position:right; background-repeat:no-repeat; text-transform:none;}


h2.bannerDARKoriginal { background-color:#535353; margin:0 0 10px 0; padding:3px 10px; font-size:15px; color:#fff; background-image: url(../images/banner_rt.png); background-position:right; background-repeat:no-repeat;}


h2.bannerLIGHT { Xbackground-color:#535353; margin:0 0 10px 0; padding:3px 0; font-size:15px; color:#333; border-bottom:solid #CCC 5px;}

h2.banner a { color:#ffc467; }
h2.banner a:hover {color:#fff;}

.chart_instruct { width:200px; float:left; font-size:12px; line-height:16px; }


ul.news { margin:0; padding:0 8px; font-size:12px; line-height:15px; font-family:Arial, Helvetica, sans-serif; font-weight:bold;}
ul.news li { display:block; border-bottom:solid #ebebeb 6px; padding:7px 0 11px 0;}
ul.news li:hover { border-bottom-color:#ddebf0;}
ul.news li a { color:#172f3d;}
ul.news li a:hover { color:#3B799A;}

.linkinfo {font-size:10px; line-height:16px; font-weight:normal; text-transform:uppercase; color:#929292; }
ul.news li .linkinfo a { color:#eb943f;}	


.story { margin:5px 4px 10px 7px; min-height:60px;}
.story .img { float:left; margin-right:10px; margin-bottom:5px;}
.story .text { xoverflow:hidden;}
p.abstract { font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:15px; margin-top:4px; margin-bottom:6px; }

.featurestory { margin:5px 4px 10px 7px; min-height:60px;}
.featurestory h5 { font-size:18px; line-height:20px; font-family:Oswald; font-weight:200;}
.featurestory .img { float:left; margin-right:10px; margin-bottom:5px;}
.featurestory .text { overflow:hidden;}
p.abstract { font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height:16px; margin-top:4px; margin-bottom:6px; }



ul.small { font-size:11px; xfont-weight:700;  }
ul.small li .time  { font-size:10px; padding-left:10px; display: inline; font-family:Arial, Helvetica, sans-serif; text-transform:uppercase; color:#4583af;}
ul.small li { border:none; padding:5px 0;}


.row { padding:0px 0; xbackground-color:#9FF; margin-bottom:25px;}

.two_col_1  { margin-right:40px;}
.two_col_1, .two_col_2 { width:460px; float:left;}



.three_col_1, .three_col_2, .three_col_3 { float:left; width:300px; }

.three_col_2, .three_col_3 { margin-left:30px;}


/* HOME PAGE    */
/* ----------------- */

.feature { height:320px; overflow:hidden;}

#Slider {background-color:#000; }
#Slider .wrapper { color:#fff; padding:20px 50px; width:860px; height:200px;}

/* INTERIOR PAGES    */
/* ----------------- */

/* COMPANY PAGES    */
#content #Company { padding:0}
.co_head { padding:35px 26px 30px 26px; margin-bottom:5px;background-color:#eeb455; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; background-image:url(../images/co_headBG.jpg); background-position:0 0; background-repeat:no-repeat;}
h2.co { color:#000; font-size:33px; line-height:33px; font-weight:200; float:left; margin:0; padding:0; text-transform:none;; }
.co_body { padding:20px 40px 80px 40px;}


/* VIDEO PAGE    */
header.video { background:none; background-color:#000; border-bottom:solid 1px #eeb455; }
header.video .wrapper { height:30px; background:none; }
#Video { background-color:#000;}
#Video .wrapper { text-align:center;padding:10px 0;}

header.video #Logo { padding-top:5px; float:left;}
header.video #Logo h1 { color:#fff; font-weight:700; font-style:normal; font-size:16px; line-height:18px; margin:0; padding:0;}	
header.video #Logo h1 a { color:#fff; text-decoration:none;}	
header.video #Logo h1 a:hover { text-decoration:none;}

#VidInfo { padding:10px 30px; background-color:#333;}
#VidInfo .wrapper { xwidth:800px; padding:20px 0 30px 0;}
#VidInfo h2 {font-size:32px; line-height:35px; margin-bottom:16px; padding:0; text-transform:none; color:#fff;}

#VidInfo h2.banner {background-color:#000; margin:0 0 10px 0; padding:4px 10px; font-size:14px; line-height:15px; color:#efefef; background-image: url(../images/banner_rt.png); background-position:right; background-repeat:no-repeat; text-transform:none;} 
#VidInfo .abstract { font-size:13px; line-height:18px; color:#dfdfdf; padding-bottom:50px;}

.vidthumb { width:200px; height:160px; float:left; border:solid 1px #414040	; padding:12px; margin-top:0; margin-right:8px; margin-bottom:5px;}
.vidthumb a { color:#fff;}
.vidthumb a:hover { color:#efefef;}
.vidthumb img { width:200px; height:90px; background-color:#000;}
.vidthumb_desc { font-size:11px; font-family:Arial, Helvetica, sans-serif; line-height:15px; color:#fff;}








.sec_head { background-color:#032638; padding:9px 26px; margin-bottom:5px;}
h2.sec { color:#ee9749; font-size:21px; line-height:21px; width:300px; float:left; margin:0; padding:0; font-style:italic;}
.sec_description { color:#CCC; width:510px; float:right; font-size:12px; line-height:16px; padding-left:40px;}

.play_head { background-color:#5096b0; padding:10px 26px; margin-bottom:5px;}
h2.play { color:#fff; font-size:26px; line-height:30px; width:350px; float:left; margin:0; padding:0;}
.play_description { color:#efefef; width:450px; float:right; font-size:12px; line-height:16px; border-left: solid #ccc 1px; padding-left:40px;}


#SideNav { float:left; width:180px; position:relative;}
#comment { position: absolute; top: 0;}
#comment.fixed { position: fixed; top: 0;}

ul.sidenav { list-style:none; margin:0; padding:0;}
ul.sidenav li { margin-bottom:2px;}
ul.sidenav li a { font-size:12px; font-weight:bold; line-height:15px; font-family:Arial, Helvetica, sans-serif; display:block; padding:12px 10px; background-color:#fff; color:#156f8f; }
ul.sidenav li a:hover { background-color:#5096B0; color:#fff;}
ul.sidenav li.sel a { background:#FFF; color:#000;}
ul.sidenav li.sel a:hover {}




#Right_Content { width:760px; float:right;}
#Right_Content .two_col_1  { margin-right:40px;}
#Right_Content .two_col_1, #Right_Content .two_col_2 { width:360px; float:left;}
#Right_Content .chart_instruct { width:160px;}

.Operator_col_1 { width:250px; float:left; margin-right:10px;}
.Operator_col_2 { width:500px; float:left; overflow:hidden;}

.Operator_col_1 h4 { margin:0; padding:0; background-color:#dedede; font-family:'Oswald'; font-size:13px; font-weight:400; text-transform:uppercase; padding:1px 10px; color:#000;}


/*  NEWS PAGES    */

#Left_Content { float:left; width:620px;}
#Right_Sidebar { width:330px; float:right;}

.dform { font-size:16px; padding:2px 10px;}

.newsitem { margin-bottom:10px; padding:15px 0; border-bottom:solid 1px #CCC; xwidth:540px}
.news_image { width:175px; height:125px; float:left;}
.news_text { float:left; width:350px; margin-left:15px; font-size:12px; line-height:16px;}
.newsitem h4 { xfont-family:'Oswald'; font-size:17px; margin:0 0 10px 0; padding:0;}

.newsitem2 { width:152px; height:210px; float:left; border:4px solid #F2F2F2; padding:12px 14px; margin:0 15px 25px 0;}
.news2_image { width:152px; height:60px; background-color:#000; overflow:hidden; }
.news2_text { font-size:11px; font-family:Arial, Helvetica, sans-serif; line-height:15px; margin-top:10px;}
.newsitem2 h4 { xfont-family:'Oswald'; font-size:15px; margin:0 0 7px 0; padding:0;}



/*  ARTICLE PAGES    */
#Article_Content { float:left; width:550px; xmargin-left:20px; padding:30px; background-color:#FFF; border-top:solid 2px #CCC;}
#Article_Title { xwidth:550px; margin-left:20px; padding-bottom:10px;}
#Article_Title h2 { font-size:29px; line-height:35px; margin-bottom:30px; padding:0; text-transform:none; color:#000;}
#Article_Title .byline { font-size:12px; float:left;}
#Article_Title .date { font-size:11px;float:right; margin-right:10px;}
#Article_Title .divider { xmargin:10px 0; xborder-bottom:solid 2px #CCC;}
#Article_Content .article_body {  line-height:30px;}
#Article_Content .article_body h3 { font-family:'Oswald'; font-weight:400; font-size:22px; line-height:26px; margin:35px 0 0 0; color:#000;}
.article_info { float:left; width:160px; margin:0 15px 20px 0; }
.info { width:550px;}

/*  ARTICLE PAGES    */
.Overview_col_1 { width:500px; float:left; margin-left:10px; }
.Overview_col_2 { width:200px; float:right; overflow:hidden;}

#Article_Sidebar { width:300px; float:right; margin-right:20px; }
#Article_Sidebar h3 { font-size:14px; line-height:16px; font-family:'Oswald'; font-weight:400; margin:10px 0 10px 8px;}



/* LARGER TABLE STYLE */

.datatable { font-size:11px; line-height:14px; width: 100%;
border-collapse:collapse;
text-align:left;
margin-bottom:8px;}

.datatable thead tr th { background-color:#e3e3e3; color:#000; xtext-transform:uppercase; padding: 0.5em; font-size:12px;}

/*** table's td element, all section ***/
table.datatable td {
vertical-align:middle;
padding: 0.5em;
}
table.datatable tbody td { border-left:solid 1px #e3e3e3;border-right:solid 1px #e3e3e3;}

/*** table's tbody section, odd rows style ***/
table.datatable tbody tr:nth-child(odd) {
background-color: #fff;
}

/*** table's tbody section, even rows style ***/
table.datatable tbody tr:nth-child(even) {
background-color: #f8f5f1;
}

/*** table's tbody section, last row style ***/
table.datatable tbody tr:last-child {
border-bottom: solid 1px #ccc;
}

/*** table's tfoot section ***/
table.datatable tfoot td{
color:#303030;
padding:6px 0px;
} 



/* SMALLER TABLE STYLE */

.simpletable { font-size:12px; line-height:14px; width: 100%;
border-collapse:collapse;
text-align:left;
margin-bottom:8px;}

.simpletable thead tr th { Xfont-family:'Oswald', sans-serif;; font-size:14px; font-weight:bold; background-color:#e3e3e3; color:#000; Xtext-transform:uppercase; padding: 0.5em;}

/*** table's td element, all section ***/
table.simpletable td {
vertical-align:middle;
padding: 0.5em;
}
table.simpletable tbody td { xborder-left:solid 1px #CCC;xborder-right:solid 1px #CCC;}

/*** table's tbody section, odd rows style ***/
table.simpletable tbody tr:nth-child(odd) {
background-color: #fff;
}

/*** table's tbody section, even rows style ***/
table.simpletable tbody tr:nth-child(even) {
background-color: #fff;
}

/*** table's tbody section, last row style ***/
table.simpletable tbody tr:last-child {
border-bottom: solid 1px #ccc;
}

/*** table's tfoot section ***/
table.simpletable tfoot td{
color:#303030;
padding:6px 0px;
} 





/*-----------Pagination----------------*/

.pagination{
	float:right;
	padding:10px;
	font-size:10px;
}


div.pagination a
{
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #ccc;
    text-decoration: none; /* no underline */
    color: #333;
}

div.pagination a:hover, div.pagination a:active
{
	background-color:#333;
    color: #fff;
}

div.pagination span.current
{
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #000099;
    background-color: #993300;
    color: #FFF;
}
div.pagination span.disabled
{
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #EEE;
    color: #DDD;
}




a.button  { display:block; background-color:#FFC66D; padding:5px 18px; color:#000; border-radius: 10px; width:150px; text-align:center; font-family:'Oswald'; font-weight:500; text-transform:uppercase;}
a.button:hover { background-color:#000; color:#FFC66D;}



/*  Advertising    */
.adv { background-color:#efefef; padding:15px; text-align:center;}


/* Resource Boxes  */
.resource { width:140px; height:160px; float:left; border-right:solid 1px #e5e5e5; padding:4px; margin-top:0;}
.resource a { color:#000;}
.resource a:hover { color:#333;}
.resource img { width:140px; height:90px; background-color:#000;}
.resource_desc { font-size:11px; font-family:Arial, Helvetica, sans-serif; line-height:15px;}



.pro { font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#f02e45; text-transform:uppercase; xfont-weight:normal;}



#Login { margin-top:30px;}
#Login h4 { font-size:20px; margin:0; padding:0; text-transform:uppercase; color:#FFF; letter-spacing:-1px;}
#Login .top {border-top-left-radius: 8px; border-top-right-radius: 8px; padding:15px 15px 16px 50px; background: url(../images/memberaccess_headBG.jpg) #5096b0 top left no-repeat;}
#Login .bottom {border:solid 2px #ccc; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; padding:20px 25px 35px 15px; background: url(../images/memberaccess_footBG.jpg) #fff bottom left no-repeat;}
#Login .form-submit { margin-top:10px; xbackground-color:#5095af; color:#fff; background-image: linear-gradient(bottom, rgb(39,118,147) 47%, rgb(80,150,175) 72%);
background-image: -o-linear-gradient(bottom, rgb(39,118,147) 47%, rgb(80,150,175) 72%);
background-image: -moz-linear-gradient(bottom, rgb(39,118,147) 47%, rgb(80,150,175) 72%);
background-image: -webkit-linear-gradient(bottom, rgb(39,118,147) 47%, rgb(80,150,175) 72%);
background-image: -ms-linear-gradient(bottom, rgb(39,118,147) 47%, rgb(80,150,175) 72%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.47, rgb(39,118,147)),
	color-stop(0.72, rgb(80,150,175))
);}
#Login input#submit:hover {background-image: linear-gradient(bottom, rgb(53,129,156) 47%, rgb(23,98,125) 72%);
background-image: -o-linear-gradient(bottom, rgb(53,129,156) 47%, rgb(23,98,125) 72%);
background-image: -moz-linear-gradient(bottom, rgb(53,129,156) 47%, rgb(23,98,125) 72%);
background-image: -webkit-linear-gradient(bottom, rgb(53,129,156) 47%, rgb(23,98,125) 72%);
background-image: -ms-linear-gradient(bottom, rgb(53,129,156) 47%, rgb(23,98,125) 72%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.47, rgb(53,129,156)),
	color-stop(0.72, rgb(23,98,125))
);}
#Login .forgotpassword { font-size:12px; font-family:Arial, Helvetica, sans-serif; margin-left:30px;}
.form-required { color:#990000;}
#Login label { width:120px; float:left; text-align:right; padding-right:20px;}
.newuserlink { margin-left:140px; margin-top:20px; color:#000; font-size:16px;}



#Signup {}
.signup_left { float:left; border-right:solid #ccc 1px; padding:10px; width:500px;}

#Signup h3 {margin:15px 0 20px 0; padding:0 0 10px 0; font-family:'Oswald'; font-size:20px; text-transform:uppercase; margin-left:15px; border-bottom:dotted 1px #CCC;}
#Signup label { width:160px; float:left; text-align:right; padding-right:20px; color: #4c4c4c; font-size:13px; line-height:16px; font-weight:bold;}
#Signup textbox { float:left;}
.select_input { margin:0 0 10px 0; font-size:20px; height:30px;}
#Signup .offer { margin-top:10px;}
input[type="checkbox"] { width:20px; margin-left:50px;}

#Signup .form-submit { margin-left:180px; margin-top:30px;}
#Signup .error { font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#990000; margin-bottom:30px;}
#Signup .error  p { margin:0 0 0 180px ;}


.signup_right { float:left; padding:10px; width:375px; margin-left:40px;}
#Signup #Login label { width:90px;}
#Signup #Login .forgotpassword { margin-left:110px;}
#Signup #Login .form-submit { margin-top:10px;}


#StoreNav { float:left; width:200px; }
ul.storenav { list-style:none; margin:0; padding:0;}
ul.storenav li {}
ul.storenav li a { font-size:15px; line-height:15px; font-weight:700; display:block; padding:14px 10px 20px 20px; background-color:#fff; color:#000; border-bottom:dotted #666 1px; text-transform:uppercase;}
ul.storenav li a:hover { background-color:#666; color:#fff;}
ul.storenav li.sel a { background:#FFF; color:#000;}
ul.storenav li.sel a:hover {}
ul.storenav li.viewcart a { padding-top:80px;}

#StoreMain {width:730px; float:right;}
/* Resource Boxes  */
.storeitem { width:205px; height:330px; float:left; border:solid 1px #e5e5e5; padding:14px; margin:0 8px 8px 0;}
.storeitem a { color:#000;}
.storeitem a:hover { color:#333;}
.storeitem h4 { margin:0; padding:0;}
.storeitem img { width:205px; height:130px; background-color:#000;}
.storeitem h4 a { background-color:#f3f3f3; color:#000; font-size:14px; line-height:16px;font-weight:700; margin:0 0 10px 0; padding:8px 6px 8px 6px; display:block; border-bottom:solid 1px #ccc; text-transform:uppercase;}
.storeitem_desc { font-size:12px; font-family:Arial, Helvetica, sans-serif; line-height:15px; color:#666;}
.storeitem_price { margin-top:4px; font-size:14px; }


input.add-to-cart  {
	clear: both;
	cursor: pointer;
	width: 100px;
	padding: 3px 4px 3px 20px;
	border: 0;
	color: #fff;
	font-family:'Oswald';
	font-size:12px;
	font-weight:700;
	text-transform:uppercase;
	margin-top:8px;
	background: url(../images/plus_add.png) 7px center no-repeat #333;
	}
input.add-to-cart:hover {color:#f59f1b; background: url(../images/plus_add_hover.png) 7px center no-repeat	#000;}	
input.add-to-cart:focus { background-color:#972324;}	



#EmailSignup {padding:10px 15px; border:solid 1px #CCC; margin:16px 0;}
.emailinfo {float:left;padding:2px 15px 0px 0; width:250px; font-size:12px; line-height:14px;}
.emailform {float:right;padding:3px 15px 0px 0px;}

		
		
#Article_Paid { border:solid 3px #CCC; border-radius:10px; padding:18px 15px 18px 90px; font-size:12px; color:#333; margin-top:15px; background-image:url(../images/articlepaid_headBG.jpg); background-position:0 0; background-repeat:no-repeat;}
#Article_Paid h4 { margin:0; padding:0; font-size:20px; line-height:20px;}		
#Article_Paid a.button {background-image: linear-gradient(bottom, rgb(215,126,47) 47%, rgb(235,146,73) 72%);
background-image: -o-linear-gradient(bottom, rgb(215,126,47) 47%, rgb(235,146,73) 72%);
background-image: -moz-linear-gradient(bottom, rgb(215,126,47) 47%, rgb(235,146,73) 72%);
background-image: -webkit-linear-gradient(bottom, rgb(215,126,47) 47%, rgb(235,146,73) 72%);
background-image: -ms-linear-gradient(bottom, rgb(215,126,47) 47%, rgb(235,146,73) 72%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.47, rgb(215,126,47)),
	color-stop(0.72, rgb(235,146,73))
); 
	float:left; 
	padding:8px 15px;
	font-size:16px; 
	color:#fff;
	font-weight:500;
	}
		
#Article_Paid a.button:hover { background-image: linear-gradient(bottom, rgb(235,146,73) 47%, rgb(215,126,47) 72%);
background-image: -o-linear-gradient(bottom, rgb(235,146,73) 47%, rgb(215,126,47) 72%);
background-image: -moz-linear-gradient(bottom, rgb(235,146,73) 47%, rgb(215,126,47) 72%);
background-image: -webkit-linear-gradient(bottom, rgb(235,146,73) 47%, rgb(215,126,47) 72%);
background-image: -ms-linear-gradient(bottom, rgb(235,146,73) 47%, rgb(215,126,47) 72%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.47, rgb(235,146,73)),
	color-stop(0.72, rgb(215,126,47))
);}		


.socialbar { font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:12px; text-transform:uppercase; padding-bottom:22px; vertical-align: top;}
.socialbar  img { margin-right:8px;}