#content {
	width:75%;
	margin:35px 165px;
}


fieldset, p, h1, form {
	border:none;
	padding:0;
	margin:0;
}

:focus {
	outline:0;
}

.form-content {
	background:#efefef;
	width:100%;
	margin:0 auto;
	padding:20px;
	/*border:3px solid #336699;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;*/
}

.form-content h1.form-title {
	text-align:center;
	padding:0;
	font-size:15px;
	text-transform:uppercase;
	color:#000;
	font-weight:bold;
}

.form-content div {
	margin:20px 0;
}

.form-content label {
	font-size:14px;
	display:block;
}

.form-content input[type="text"],
.form-content input[type="email"],
.form-content input[type="password"] {
	padding:5px;
	/*width:95%;*/
	margin:5px 0;
	border:1px solid #ccc;
	-webkit-transition:border .5s ease-in;
	-moz-transition:border .5s ease-in;
	-o-transition:border .5s ease-in;
	transition:border .5s ease-in;
}

.form-content input[type="text"]:focus,
.form-content input[type="email"]:focus,
.form-content input[type="password"]:focus {
	border:1px solid #336699;
}

.form-content p.captcha-info {
	font-size:10px;
	text-align:left;
	padding:5px 0;
}

.form-content p.captcha-info span {
	color:#ff0000;
}

.form-content p.note {
	font-size:10px;
	font-style:italic;
	text-align:right;
}

.form-content .submit-button {
	text-align:right;
	margin-bottom:0;
}

.form-content .submit-button input {
	background:#fff;
	border:1px solid #ccc;
	padding:5px 10px;
	cursor:pointer;
	-webkit-transition:border .5s ease-in;
	-moz-transition:border .5s ease-in;
	-o-transition:border .5s ease-in;
	transition:border .5s ease-in;
}

.form-content .submit-button input:hover {
	border:1px solid #336699;
}


.error{
	color:red;
	text-align:left;
	font-weight:bold;
}

.success{
	padding-left: 163px!important;
	font-size: 16px;
	color: green;
	width: 100%;
}


/*company list table*/
#box-table-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 144%;
	margin-left:22px;
	text-align: left;
	margin-top: 5px;
	border-collapse: collapse;
}
#box-table-a th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #039;
}
#box-table-a td
{
	padding: 8px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
#box-table-a tr:hover td
{
	background: #d0dafd;
	color: #339;
}


#box-table-b
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 480px;
	text-align: center;
	border-collapse: collapse;
	border-top: 7px solid #9baff1;
	border-bottom: 7px solid #9baff1;
}
#box-table-b th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #e8edff;
	border-right: 1px solid #9baff1;
	border-left: 1px solid #9baff1;
	color: #039;
}
#box-table-b td
{
	padding: 8px;
	background: #e8edff; 
	border-right: 1px solid #aabcfe;
	border-left: 1px solid #aabcfe;
	color: #669;
}


.searcharea{
border:none !important;
margin-left: 132px !important;
}