/* CSS Document */
body {
	margin:0px;
	padding:0px;
	background:url(../img/main-bg.jpg) repeat left top;
	}
div, table, tr, td, a, form, input {
	margin:0px;
	padding:0px;
	}
	
.wrapper {
	margin:0px auto;
	padding:0px;
	width:903px;
	overflow:hidden;
	}
	
.warpper-top {
	margin:0px;
	padding:0px;
	width:903px;
	float:left;
	}
.top-sh1 {
	margin:0px;
	padding:0px;
	height:28px;
	background:url(../img/top-sh-1.png) no-repeat center bottom;
	width:903px;
	float:left;
	}
.banner-area {
	margin:0px;
	padding:0px;
	width:903px;
	height:210px;
	float:left;
	}
.banner-left-sh1 {
	margin:0px;
	padding:0px;
	background:url(../img/left-sh-1.png) no-repeat right top;
	width:9px;
	height:210px;
	float:left;
	}
.banner-right-sh1 {
	margin:0px;
	padding:0px;
	background:url(../img/right-sh-1.png) no-repeat left top;
	width:9px;
	height:210px;
	float:left;
	}	
.banner-bg1 {
	margin:0px;
	padding:0px;
	width:885px;
	float:left;
	height:210px;
	background:url(../img/banner-bg-1.png) no-repeat left top;
	}
.banner-txt {
	margin:0px;
	padding:0px;
	width:885px;
	float:left;
	height:150px;
	}
.banner-txt-left {
	margin:0px;
	padding:0px;
	width:473px;
	float:left;
	}
.banner-txt-right {
	margin:0px;
	padding:0px;
	width:412px;
	float:left;
	}
h1 {
	margin:0px;
	padding:10px 0px 0px 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:48px;
	text-decoration:none;
	color:#fff;
	font-weight:normal;
	line-height:50px;
	text-transform:uppercase;
	}
h1.hdng-txt1a span {
	font-family:Arial, Helvetica, sans-serif;
	font-size:48px;
	text-decoration:none;
	color:#fff;
	font-weight:bold;
	text-transform:uppercase;
	}
p.txt-1 {
	margin:0px;
	padding:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#333e04;
	font-weight:normal;
	line-height:18px;
	}
.nav-area {
	margin:0px;
	padding:0px;
	width:885px;
	height:46px;
	float:left;
	background:#D3D3D3;
	border-top:1px solid #D3D3D3;
	}
.nav-sh {
	margin:0px;
	padding:0px;
	background:url(../img/nav-shadow.jpg) no-repeat left top;
	width:885px;
	height:10px;
	float:left;
	}
ul.navigation {
	margin:0px;
	padding:0px 0px 0px 18px;
	list-style:none;
	}

ul.navigation li ul { display: none; }

ul.navigation li:hover ul {
  display: block;
  position: absolute;
}

ul.navigation li:hover li {
  float: none;
  font-size: 11px;
}

ul.navigation li:hover a { background: #d6d7d6; }

ul.navigation li {
	margin:0px;
	padding:0px 0px 0px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#000000;
	line-height:46px;
	text-align:center;
	font-weight:bold;
	float:left;
	background:url(../img/nav-divider.jpg) no-repeat right top;
	display:block;
	}
ul.navigation li a {
	margin:0px;
	padding:0px 35px 0px 35px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;	
	color:#0000ef;
	line-height:46px;
	text-align:left;
	font-weight:bold;
	background:none;
	display:block;
	} 

ul.navigation li ul li a{
	border-top: 1px solid #ffffff;	
	white-space: nowrap;
	margin-left:-42px;
}

ul.navigation li ul li a:hover{	
	margin-left:-42px;
}

ul.navigation li a:hover {
	margin:0px;
	padding:0px 35px 0px 35px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#fff;
	line-height:46px;
	text-align:left;
	font-weight:bold;
	background:url(../img/nav-hover-bg.jpg) repeat-x left top;
	display:block;
	} 
	
.warpper-mid {
	margin:0px;
	padding:0px 0px 20px 0px;
	width:903px;
	float:left;
	background:url(../img/mid-bg1.png) repeat-y center top;
	}
.mid-gap {
	margin:0px;
	padding:0px;
	width:9px;
	float:left;
	font-size:0px;
	line-height:0px;
	}
.mid-left {
	padding:0px;
	width:597px;
	float:left;
	}
.mid-right {
	margin:0px;
	padding:0px;
	width:288px;
	float:left;
	margin-top:-310px;
	}
.topround-bg1 {
	margin:0px;
	padding:0px;
	background:url(../img/topround-sh-1.jpg) no-repeat left bottom;
	width:288px;
	height:20px;
	font-size:0px;
	line-height:0px;
	float:left;
	}
.midround-bg1 {
	margin:0px;
	padding:0px;
	background:url(../img/midround-sh-1.jpg) repeat-y left top;
	width:288px;
	float:left;
	}
.botround-bg1 {
	margin:0px;
	padding:0px;
	background:url(../img/bottomround-sh-1.jpg) no-repeat left top;
	width:288px;
	height:20px;
	font-size:0px;
	line-height:0px;
	float:left;
	}
h4 {
	margin:0px;
	padding:0px 0px 0px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	text-decoration:none;
	/*color:#D3D3D3;*/
	color:#313031;
	font-weight:normal;
	line-height:26px;
	}
h2 {
	margin:0px;
	padding:0px 0px 0px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:30px;
	text-decoration:none;
	color:#FF7A00;
	font-weight:bold;
	line-height:34px;
	}
h2 span {
	font-family:Arial, Helvetica, sans-serif;
	font-size:30px;
	text-decoration:none;
	color:#FF7A00;
	font-weight:normal;
	}
h3 {
	margin:0px;
	padding:0px 0px 0px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	text-decoration:none;
	color:#ed1c24;
	font-weight:bold;
	line-height:30px;
	}
h3 span {
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	text-decoration:none;
	color:#D3D3D3;
	font-weight:normal;
	}
p.txt-2 {
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#333333;
	font-weight:normal;
	line-height:18px;
	}
ul.item-1 {
	margin:0px;
	padding:10px 0px 0px 30px;
	list-style:none;
	}
ul.item-1 li {
	margin:0px;
	padding:0px 0px 18px 18px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#333333;
	font-weight:normal;
	line-height:18px;
	background:none;
	background-position:0px 6px;
	}
ul.readmore-1 {
	margin:0px;
	padding:10px 0px 0px 30px;
	list-style:none;
	}
ul.readmore-1 li {
	margin:0px;
	padding:2px 0px 5px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#fff;
	font-weight:bold;
	line-height:18px;
	background:url(../img/readmore-bg1.jpg) no-repeat left top;
	overflow:hidden;
	}
ul.readmore-1 li a {
	margin:0px;
	padding:0px 11px 0px 11px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#fff;
	font-weight:bold;
	float:right;
	}
ul.readmore-1 li a:hover {
	text-decoration:none;
	color:#D3D3D3;
	font-weight:bold;
	float:right;
	}
	
	
.warpper-bot {
	margin:0px;
	padding:15px 0px 15px 0px;
	width:903px;
	float:left;
	background:url(../img/footer-bg1.png) repeat-y center top;
	}
.footer-left {
	margin:0px;
	padding:0px;
	width:600px;
	float:left;
	}
.footer-right {
	margin:0px;
	padding:0px;
	width:303px;
	float:left;
	}
ul.footer-nav {
	margin:0px;
	padding:3px 0px 0px 25px;
	list-style:none;
	}
ul.footer-nav li {
	margin:0px;
	padding:0px 10px 0px 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#000000;
	line-height:12px;
	text-align:center;
	font-weight:normal;
	border-left:1px solid #000000;
	float:left;
	display:block;
	}
ul.footer-nav li a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#0000ef;
	font-weight:normal;
	}
ul.footer-nav li a:hover {
	text-decoration:none;
	color:#fff;
	font-weight:normal;
	}
p.footer-txt {
	margin:0px;
	padding:0px 0px 0px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#000000;
	line-height:18px;
	font-weight:normal;
	}
.footer-link {
	color:#ccff99; 
	text-decoration:none; 
	}

.button{
	margin-left: 168px;
	padding: 5px;
	float: left;
	margin-top: -19px;
	width: 64px;
}

div.pagination
{
    padding: 3px;
    margin: 3px;
	 clear:both;
	 text-align:right;
}

div.pagination a
{
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #AAAADD;
    text-decoration: none; /* no underline */
    color: #000099;
}

div.pagination a:hover, div.pagination a:active
{
    border: 1px solid #000099;
    color: #000;
}

div.pagination span.current
{
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #000099;
    font-weight: bold;
    background-color: #993300;
    color: #FFF;
}
div.pagination span.disabled
{
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #EEE;
    color: #DDD;
}

#story a:visited{
	color: #0000ef;
}

.recent_com a:visited{
	color: #0000ef;
}

.mid-content {
	padding: 0px;
	width: 800px;
	float: left;
	margin:50px;
}

.title {
	font-size: 20px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	line-height: 25px;
}


/*------------------forsearch---------------*/
.search{
	float: none !important;
	width:100% !important;
}

.select-bar .buttons {
    background: -moz-linear-gradient(center top , #FF7A00 0%, #FBC450 37%, #FBBB3B 49%, #FAB22A 69%, #FAAE25 86%, #FAAD25 100%) repeat scroll 0 0 transparent !important;
    border: 2px solid #FAAD25;
    color: #FFFFFF !important;
    cursor: pointer;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 10px 4px;
    text-decoration: none;
    text-transform: uppercase;
}
.searcharea{
	border:1px solid #d6d7d6;
	width:130%;
	margin-left:55px;
	height:50px;
}

.search_box{
margin-top:10px;
margin-left:40px;
}

/*------------------forsearch---------------*/

/*------------------articleList-------------*/
.article_list .table{
	margin-left:23px;
}

.article_list .table .article_title{
	padding: 20px 0px 5px 30px;
}
.article_list .table .article_list{
	margin-left:37px;padding-top: 10px;border-top: 1px solid #000;text-decoration: none;
}

.article_list .table .catcolor a,.article_list .table .catcolor a:visited{
	color:#FAAD25 !important;
	text-decoration:none;
}

.article_list .table .bottomline{
	color:#FAAD25;
}

.article_list .table .bottomline{
	margin-left:37px;
	padding-top: 10px;
	border-top: 1px solid #000;
	text-decoration: none;
}

.article_list .table .content_title{
	padding: 20px 0px 5px 30px;
}

.article_list .table .story_date{
	margin-left:30px;
}

.article_list .table .print_icon{
	margin-left:232px;
}

.article_list .table .mail_icon{
	margin-left:10px;
}
.article_list .table .story_cat{
	margin-left:30px;
}
.article_list .table .story_com{
	margin-left:30px;
}

.article_list .table #sharediv{
	margin-left:346px;
}

.article_list .table .addition_com{
	margin-left:37px;padding-top: 10px;text-decoration: none;
}
.article_list .table .addition_cat{
	margin-left:37px;padding-top: 10px;text-decoration: none;
}

.article_list .table .recent_com{
	border-left:1px solid #0000ef;margin-left:15px;height:600px;
}
.article_list .table .recent_com_mentioned{
	color:#FAAD25;border-bottom:1px solid #0000ef;margin-left:15px;margin-top:15px;
}

.mid-company 
{
	padding:0px;
	width:100%;
	float:left;
	margin:25px
}

.article_list .article_list{
	margin-left:37px;padding-top: 10px;border-top: 1px solid #000;text-decoration: none;
}

.article_list .catcolor{
	color:#FAAD25;
}

.article_list .bottomline{
	color:#FAAD25;
}

.article_list  .company_title{
	padding: 20px 0px 5px 30px;
	font-size:16px;
}

.search_home{	 
	background:url(../img/admin/home_search.png) no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #444444;
    cursor: pointer;
    font-size: 18px;
    height: 30px;
    padding: 0 0 1px;
    width: 45px;
}

.home_search{
	border-color: #828282 -moz-use-text-color #828282 #828282;
    border-style: solid none solid solid;
    border-width: 2px 0 2px 2px;
    color: #A5A5A5;
    
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    margin: 0;
    padding: 0 5px 0 8px;
    width: 239px;
}



.WriteSmallTableTop {
    border: 1px solid #EEEEEE;
    margin-top: 20px;
    padding: 3px;
}

.WriteSmallTableTopTitle {
    background: none repeat scroll 0 0 #fbbc4d;
    color: #FFFFFF;
    font-size: 11px;
    padding: 7px 3px 7px 5px;
    text-transform: uppercase;
	font-weight:bold;
}

#subheadTabs {
    background: url(../img/admin/bg_tabletop.gif) repeat-x scroll left top transparent;
    color: #003366;
    font-size: 8pt;
    height: 32px;
}

#subheadTabs .tabWrapper {
    border-color: #4F78A2 #4F78A2 -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    height: 28px;
}

#tabsR {
    float: left;
    margin: 0;
    padding: 0;
}

.ui-tabs-nav {
    border: 0 none;
    float: left;
    font-size: 100%;
    line-height: 1.3;
    list-style-type: none;
    margin: 0;
    outline-style: none;
    outline-width: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
    z-index: 1;
}

#tabsR ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ui-tabs-nav ul {
    border: 0 none;
    font-size: 100%;
    line-height: 1.3;
    list-style-type: none;
    margin: 0;
    outline-style: none;
    outline-width: 0;
    padding: 0;
    text-decoration: none;
}

#tabsR ul li {
    float: left;
}

.ui-tabs-nav li.ui-tabs-selected {
    background: none repeat scroll 0 0 #E6F4FD;
    color: #003366;
}

.ui-tabs-nav li {
    border: 0 none;
    float: left;
    font-size: 100%;
    line-height: 1.3;
    list-style-type: none;
    margin: 0;
    outline-style: none;
    outline-width: 0;
    padding: 4px;
    text-decoration: none;
}

#center-column{
	padding:10px;
	padding-left:90px;
}
#center-column h4{
	text-align:right;
}

span#editaccount a{
text-align:right;
margin-left:140px;
}