.tsc_table_s3,
.tsc_table_s3 th,
.tsc_table_s3 td { border:1px solid #D4E0EE; border-collapse:collapse; }
.tsc_table_s3 td,
.tsc_table_s3 th { padding:4px 8px;}
.tsc_table_s3 thead th { text-align:left; background:#E6EDF5; color:#4F76A3; font-size:100% !important;}
.tsc_table_s3 tbody th { font-weight:bold;}
.tsc_table_s3 tbody tr { background:#FCFDFE;}
.tsc_table_s3 tbody tr.odd { background:#F7F9FC;}