
div.error
{
	color:#F00 !important;
	font-size:12px;
	border:1px solid #600;
	clear:both;
	margin: 15px 5px 5px 65px;
}
div.error p
{
	padding:5px;
	padding-left:20px;
	margin:0px;
	font-weight:bold;
	background:#FFC url(../img/admin/hr.gif) no-repeat left center;;
}

div.success
{
	color:#060;
	font-size:12px;
	border:1px solid #060;
	clear:both;
	margin:5px;
	background-color:#FFC;
	padding:5px;
	padding-left:20px;
	background:#FFC url(../img/admin/valid.gif) no-repeat left center;;
}
div.success p
{
	padding:5px;
	padding-left:20px;
	margin:0px;
	font-weight:bold;
	background:#FFC url(../img/admin/valid.gif) no-repeat left center;;
}

.loginform{
	border: 1px solid #838383;
	padding: 39px;
	margin-left: 67px;
	width: 520px;
}

#frmLogin,#frmForgotPassword{
margin-left:115px;
}


.buttonl{
width: 70px;
height: 28px;
}

.text{
	width: 168px;
	height: 30px;
	line-height: 30px;
	margin: 0px;
	border: 1px solid #838383;
	font-size: 12px;
	text-indent: 5px;
	font-family: Arial,Helvetica,sans-serif;
	padding: 0;
	background: none !important;
}

.ftext{
	width: 270px;
	height: 30px;
	line-height: 30px;
	margin: 0px;
	border: 1px solid #838383;
	font-size: 12px;
	text-indent: 5px;
	font-family: Arial,Helvetica,sans-serif;
	padding: 0;
	background: none !important;
}

.buttonf{
width: 128px;
height: 28px;
}