label {
    display: block;
    font-weight: bold;
	clear: both;
    float: left;
    font-size: 14px;
    margin-top: 8px;
    padding-right: 10px;
    text-align: right;
    width: 130px;
}


.container-12 .grid-8 {
    width: 620px;
}
 .grid-8{
    display: inline;
    float: left;
    margin-left: 255px;
    margin-right: 10px;
    position: relative;
}

.container-12 {
font: 13px/1.5 Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif;

}

.container-12, .container-16 {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

.grid-8 div, .grid-8  fieldset, .grid-8  p, .grid-8  h4 
{
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body{background-color:#f2f2f2; margin:0; }


 #main-area {
    background-color: #E5E5E5;
    border-radius: 10px 10px 10px 10px;
    margin: 0;
    padding: 10px;
    position: relative;
	border: 3px solid #939393;
}

.page-account-reset-pass-change #page #main-area-inner-header, .page-checkout #page #main-area-inner-header {
    background-color: #FAFBFC;
    border-bottom: 1px solid #E2E5E6;
    height: 20px;
    padding: 20px;
}

#page #main-area-inner-header {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #D7D7D7 #CECECE -moz-use-text-color #D7D7D7;
    border-image: none;
    border-left: 2px solid #D7D7D7;
    border-radius: 5px 5px 0 0;
    border-right: 2px solid #CECECE;
    border-style: solid solid none;
    border-width: 2px 2px 0;
    height: 10px;
}

.page-account-reset-pass-change #page #main-area-inner-header p, .page-checkout #page #main-area-inner-header p {
    display: block;
}
#page #main-area-inner-header p {
    display: none;
    font-weight: bold;
    text-align: center;
}

.red {
    color: #E34848;
}
p {
    font-size: 14px;
    line-height: 15pt;
}

.page-checkout #page #main-area-inner {
    padding-top: 0;
}

#main-area .content .ribbon_1 {
    background-image: url("../img/ribbon_1.png");
    background-repeat: no-repeat;
    height: 57px;
    left: -23px;
    margin: 0 0 10px;
    padding: 25px 0 0 112px;
    position: relative;
}
.page-account-reset-pass-change #main-area h4, .page-checkout #main-area h4 {
    color: #075089;
    font-size: 21px;
    margin-bottom: 30px;
    margin-top: 5px;
    padding-left: 92px;
    text-align: left;
}

#edit-account-login {
    margin: 40px 0 10px;
}

#main-area div.form-item {
    clear: both;
}
.page-checkout div.form-item {
    margin: 0 0 10px;
}



label {
    font-size: 14px;
    text-align: right;
}


#main-area .form-text, #main-area .password-field {
    border: 1px solid #CBCBCB;
    border-radius: 3px 3px 3px 3px;
    font-size: 16px;
    height: 18px;
    margin-top: 3px;
    padding: 7px 30px;
    width: 225px;
}

#main-area .content .ribbon_2 {
    background-image: url("../img/ribbon_2.png");
    background-repeat: no-repeat;
    height: 57px;
    left: -23px;
    margin: 0 0 10px;
    padding: 25px 0 0 112px;
    position: relative;
}

.privacy_policy_desc {
    color: #222222;
    margin: 30px 0 5px;
}
.italics {
    font-style: italic;
}
p {
    font-size: 14px;
    line-height: 15pt;
}

.page-checkout hr {
    margin: 0 0 20px;
}
hr {
    background-color: #D8DADB;
    border: 0 none;
    height: 1px;
    margin: 40px 0 30px;
}
.clear_float {
    clear: both;
    height: 0;
}


select {
    margin-top: 5px;
    width: 180px;
}

#page #main-area-inner {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: -moz-use-text-color #CECECE #CECECE #D7D7D7;
    border-image: none;
    border-radius: 0 0 5px 5px;
    border-right: 2px solid #CECECE;
    border-style: none solid solid;
    border-width: 0 2px 2px;
    margin: 0;
    padding: 20px 20px 0;
}

.marker, .form-required {
    color: #FF0000;
}

.form-submit, #edit-submit {
    background-image: url("../img/green_check_btn.png");
    background-repeat: repeat-x;
    border: 1px solid #50771D;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 1px 4px #888888;
    color: white;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: bold;
    height: 44px;
    margin-left: 140px;
    padding: 2px 20px 0 45px;
    position: relative;
}

.error{
color:red;
}

.content h4{
	margin-left:170px;
}